<% if current_user %>

<h1>New call</h1>

<%= render 'form' %>
<h1>Listing calls</h1>

<table>
  <thead>
    <tr>
      <th>Department</th>
      <th></th>
      <th>User</th>
      <th></th>
      <th>Call Time</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.reverse.each do |call| %>
      <tr>
        <td><%= call.department %></td>
        <td></td>
        <td><%= call.user.netid %></td>
        <td></td>
        <td><%= call.created_at.to_formatted_s(:short) %></td>
        <td>	</td>
        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', new_call_path %>
<% else %>
 You aren't authorized to be here!
<% end %>
