<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @call.department %>
</p>

<p>
  <strong>User:</strong>
  <%= @call.user %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', root_path %>
